<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About</title>
  <link href="static/css/a_style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <nav class="navbar">

  <a href="#" class ="logo">
    <img src="/static/images/logo.jpg" alt="logo">
    <h2>Stonks</h2>
  </a>
  <ul class="links">

    <li><a href="dashboard">Home</a></li>
    <li><a href="search">Search</a></li>
    <li><a href="User_Profile">User Profile</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
    <a href="/signout"><button class="login-btn">Sign Out</button></a>
  </nav>
  <div class="about">
    <h1>About us</h1>
    <h1>{{c_name}}</h1>
    <br>
    <p>
      At Stonks, we harness the power of advanced artificial intelligence and machine learning to provide you with accurate and insightful stock predictions. Our goal is to empower investors—whether you're a seasoned trader or just starting out—with the tools and information needed to make informed investment decisions.
      </p>
    <br>
    <h2>
      What We Offer
    </h2>
    <ul>
      <li>Accurate Predictions: Leveraging cutting-edge AI and machine learning algorithms, our app analyzes vast amounts of market data to predict stock movements with high accuracy.</li>
      <li>User-Friendly Interface: Our intuitive interface ensures that you can easily navigate the app and find the information you need without hassle.</li>
      <li>Real-Time Data: Get up-to-the-minute data on stock prices, market trends, and prediction outcomes to stay ahead of the market.</li>
     
    </ul>
  </div>
</body>

</html>