<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Dashboard</title>
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?
   family=Material+Symbols+Rounded:opsz,wght,FILL,GRADE@48,400,0,0">
  <link rel="stylesheet" href="static/css/d_style.css">
</head>
<body>
  <header>
    <nav class="navbar">

      <a href="#" class ="logo">
        <img src="/static/images/logo.jpg" alt="logo">
        <h2>Stonks</h2>
      </a>
      <ul class="links">

        <li><a href="dashboard">Home</a></li>
    <li><a href="search">Search</a></li>
    <li><a href="User_Profile">User Profile</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
      </ul>
      <a href="/signout"><button class="login-btn" type='submit'>Signout</button></a>
    </nav>
  </header>
 
</body>
</html>
